<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Electro Pro</title>
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

		{% include "header.html" %}

	<div class="container">
		{% include "menu.html" %}
		{% block maincontent %}

		{% endblock maincontent %}
	</div><br>
		{% include "footer.html" %}

</body>
</html>